/*****************************************************************************************
* Nextflow Azure Batch Configuration
*
* Description:
*   This configuration enables running Nextflow workflows on Microsoft Azure Batch.
*   It sets up storage and batch account parameters, VM types, and pool settings.
*
* Usage:
*   Specify this config when running your workflow:
*     nextflow run <pipeline> -c cloud/azurebatch.config
*
*   Override parameters as needed using the -params-file option or by setting them
*   directly on the command line, e.g.:
*     nextflow run <pipeline> -c cloud/azurebatch.config \
*       --storage_name <STORAGE_NAME> --storage_key <STORAGE_KEY> \
*       --batch_account_name <BATCH_ACCOUNT_NAME> --batch_account_key <BATCH_ACCOUNT_KEY>
*
* References:
*   - Azure Batch: https://azure.microsoft.com/services/batch/
*   - Nextflow Azure Executor: https://www.nextflow.io/docs/latest/azure.html
*   - nf-core configs: https://github.com/nf-core/configs
*
* Maintainer: Stefan Filges
******************************************************************************************/


params {
    config_profile_description = 'Azure BATCH Cloud Profile'
    config_profile_contact     = 'Stefan Filges'
    config_profile_url         = 'https://azure.microsoft.com/services/batch/'

    
    // Batch
    azure_vm_type          = 'Standard_E16d_v5' 
    azure_location         = 'swedencentral' 

    batch_account_name     = null
    batch_account_key      = null

    // Storage
    storage_account_name   = null
    storage_account_key    = null

    // Pool settings
    autopoolmode           = true
    allowpoolcreation      = true
    deletejobs             = true
    deletepools            = true
    az_worker_pool         = "auto"
}

// Define executor
process {
    executor = "azurebatch"
}

azure {
    process {
        queue       = params.az_worker_pool
        // use process.machineType instead of a specific VM image. This will mean the autopools feature 
        // will be used fully and appropriate sized VM pools will be created for every process.
        // see also: https://github.com/nf-core/configs/commit/a45ac7b8ef9f8ee8059caacd06c76011ad3fa857
        // This did not work well when running Sarek...
        // machineType = params.vm_type
    }
    storage {
        accountName   = params.storage_account_name
        accountKey    = params.storage_account_key
    }
    batch {
        location                = params.azure_location
        accountName             = params.batch_account_name
        accountKey              = params.batch_account_key
        autoPoolMode            = params.autopoolmode
        allowPoolCreation       = params.allowpoolcreation
        deleteJobsOnCompletion  = params.deletejobs
        deletePoolsOnCompletion = params.deletepools

        pools {
            auto {
                vmType     = params.azure_vm_type
                autoScale  = true
                vmCount    = 1
                maxVmCount = 64   // Requires 1024 vCPUs in the subscription
            }
        }
    }
}