/*****************************************************************************************
* Nextflow Google Cloud Batch Configuration
*
* Description:
*   This configuration enables running Nextflow workflows on Google Cloud Batch.
*   It sets up storage and batch account parameters, VM types, and pool settings.
*
* Usage:
*   Specify this config when running your workflow:
*     nextflow run <pipeline> -c cloud/googlebatch.config
*
*   Override parameters as needed using the -params-file option or by setting them
*   directly on the command line, e.g.:
*     nextflow run <pipeline> -c cloud/googlebatch.config \
*       --gcp_project <PROJECT_ID> --gcp_region <REGION> \
*       --gcp_bucket <BUCKET_NAME>
*
* References:
*   - Google Cloud Batch: https://cloud.google.com/batch
*   - Nextflow Google Executor: https://www.nextflow.io/docs/latest/google.html#cloud-batch
*   - nf-core configs: https://github.com/nf-core/configs
*
* Maintainer: Stefan Filges
******************************************************************************************/

params {
    config_profile_description = 'Google Cloud Batch Profile'
    config_profile_contact     = 'Stefan Filges'
    config_profile_url         = 'https://cloud.google.com/batch'

    // Google Cloud
    gcp_project_id    = null
    gcp_region        = 'europe-west1'
    gcp_bucket        = null

    // Batch settings
    gcp_machine_type   = 'n2-highmem-16' // Example machine type, adjust as needed, recommended for memory-intensive tasks
    // Available machine types: https://cloud.google.com/compute/docs/machine-types
    gcp_disk_size      = 1000.GB
    gcp_preemptible    = false
    gcp_network        = null
}

process {
    executor = 'google-batch'
}

google {
    project   = params.gcp_project_id
    region    = params.gcp_region
    location  = params.gcp_region
    bucket    = params.gcp_bucket

    batch {
        machineType  = params.gcp_machine_type
        diskSizeGb   = params.gcp_disk_size
        preemptible  = params.gcp_preemptible
        network      = params.gcp_network
    }
}